.dash{
    margin-top: 5rem;
    background-color: #E5E5E5;
    /* height: 100vh; */
}

body{
    background-color: #E5E5E5 !important;
}


.addsec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friend{
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
}

.friends{
    display: flex;
    flex-direction:column;
    padding: 5px;
    text-align: left;
}



.score{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: left;
    justify-content: space-around;
}
.btn-primary{
    border-radius: 3rem  !important;
    background-color: #1B559C !important;
    color: white !important;
    font-weight: bold !important;
    width: 60% !important;
    margin: 15px !important;

}

.btn-secondary{
    width: 30% !important;
    border-radius: 2rem !important;
}

.message{
    margin: 10px auto;
    width: 50%;
}

